/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Contact
8. Footer
-------------------- */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #FD4766;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #fff;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--primary-color) 79.69%);

    /* Ensure these colors are defined */
    --main-color: #FF5733; /* Example main color */
    --second-bg-color: #121212; /* Example secondary bg color */

    /* Text Color */
    --primary-font: 'Poppins', sans-serif;
    --primary-text: #FD4766;
    --text-gray: #c6c9d8bf;
    --text-white: #fff;
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Remove Number Input Arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

section {
    padding: 50px 0;
}

/* Buttons */
.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

/* Headings */
h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}

h5 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-white);
    display: inline-block;
}

/* Navbar */
.header_wrapper .navbar {
    padding: 15px 0;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
}

.header_wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}

/* Fixed Navbar on Scroll */
.header-scrolled {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--bg-dark-blue);
    box-shadow: 0 4px 6px rgba(12, 0, 46, 0.05);
}

/* Banner */
.banner_wrapper {
    width: 100%;
    min-height: 650px;
    background-image: url('../images/home1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px;
}

/* Portfolio */
.portfolio_wrapper .card {
    min-height: 350px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    box-shadow: 0 0 16px 4px var(--bg-dark-blue); 
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.projects-box img {
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

/* Contact */
.contact_wrapper .form-control,
.contact_wrapper textarea {
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--text-gray);
}

/* Footer */
.footer_wrapper {
    background-color: var(--bg-dark-blue);
    padding: 20px 0;
}

/* Responsive Code */
@media (max-width: 991px) {
    section {
        padding: 30px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .portfolio_wrapper .card {
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }

    .portfolio_wrapper .card {
        min-height: 500px;
    }
}
